<!--mejor operador ternario, o bien pipe!! mas rapido-->
<h1 *ngIf="currentHero.id; else noId">
    Actualizar
    Héroe
    
    <small>{{currentHero.superhero}}</small>
</h1>

<ng-template #noId>
    <h1>
    Agregar
    Héroe
    
    <small>{{currentHero.superhero}}</small>
</h1>
</ng-template>


<mat-divider class="mb-2"></mat-divider>

<div class="grid">

    <div class="col-12 md:col-6">
        <mat-card>
            <mat-card-content>
                <form class="grid" [formGroup]="heroForm" (ngSubmit)="onSubmit()">
                    <mat-form-field class="col-12 md:col-6">
                        <mat-label>Super Héroe</mat-label>
                        <input
                        matInput
                        type="text"
                        required
                        formControlName="superhero"
                        >
                    </mat-form-field>

                    <mat-form-field class="col-12 md:col-6">
                        <mat-label>Alter Ego</mat-label>
                        <input
                        matInput
                        type="text"
                        required
                        formControlName="alter_ego"

                        >
                    </mat-form-field>

                    <mat-form-field class="col-12">
                        <mat-label>Primera aparición</mat-label>
                        <input
                        matInput
                        type="text"
                        required
                        formControlName="first_appearance"

                        >
                    </mat-form-field>

                    <mat-form-field class="col-12 md:col-6">
                        <mat-label>Personajes</mat-label>
                        <input
                        matInput
                        type="text"
                        required
                        formControlName="characters"
                        >
                    </mat-form-field>

                    <mat-form-field class="col-12 md:col-6">
                        <mat-label>Creador</mat-label>
                        <mat-select 
                        formControlName="publisher"
                        required="">
                            
                        <mat-option *ngFor="let publisher of publishers"
                        [value]="publisher.id"
                        >
                            {{publisher.publ}}
                        </mat-option>    
                        </mat-select>
                    </mat-form-field>


                    <mat-form-field class="col-12">
                        <mat-label>Imagen alternativa</mat-label>
                        <input
                        matInput
                        type="text"
                        formControlName="alt_img"
                        >
                    </mat-form-field>
                </form> <!--fin form-->
                <div class="flex">
                <button *ngIf="currentHero.id" mat-flat-button color="warn" (click)="onDeleteHero()">
                    <mat-icon>delete</mat-icon>
                    Borrar
                </button>
                <span class="spacer"></span>
                <button mat-flat-button color="primary" (click)="onSubmit()">
                    <mat-icon>save</mat-icon>
                    Guardar
                </button>
            </div> <!--fin div botones-->
            </mat-card-content>
        </mat-card>
    </div> <!--fin de la card, es realmente necesario el div?-->

    <div class="col-12 md:col-6">
        <mat-card>
            <img src="{{currentHero | imagen}}" alt="imagen del heroe" mat-card-image>
        </mat-card>
    </div>

</div> <!--fin de ...-->